.icon{
  display: inline-block;
}
.icon-arrow-left{
   background: url(../img/icons/icon_arrow-left.png);
   width: 22px;
   height: 31px;
}
.icon-arrow-right{
  background: url(../img/icons/icon_arrow-right.png);
  width: 22px;
  height: 31px;
}
.icon-car {
  background: url("../img/icons/icon_car.png");
  width: 105px;
  height: 75px;
}
.icon-key{
  background: url("../img/icons/icon_key.png");
  width: 107px;
  height: 92px;
}
.icon-carwash{
  background: url("../img/icons/icon_carwash.png");
  width: 135px;
  height: 92px;
}
.icon-repair{
  background: url("../img/icons/icon_repair.png");
  width: 122px;
  height: 89px;
}
.icon-cars{
  background: url("../img/icons/icon_cars.png");
  width: 187px;
  height: 84px;
}
.icon-document{
  background: url("../img/icons/icon_document.png");
  width: 78px;
  height: 94px;
}