
@import "bourbon";
@import "vars.scss";

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	header .btn-red {
		position: absolute;
		z-index: 1;
		top: 508px;
		left: 70px;
	}
}
@media only screen and (max-width : 1045px) {
	header{
		.p-thin {
			color: #fff;
			font-size: 26px;
			font-weight: 300;
			line-height: 35px;
		}
	}
}
@media only screen and (max-width : 1020px) {
	.top-menu{
		li{
			padding: 0 10px;
		}
	}
	.footer-social{
		padding: 38px 45px;
	}
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.auto-parts__item{
		display: inline-block;
		float: none;
		min-width: 500px;
	}
	.auto-parts{
		text-align: center;
	}
	.auto-repair__item {
		padding: 40px 0px;
	}
	.maps__content {
		padding-left: 15px;
	}
	.header-bot__item{
		text-align: center;
	}
	header{
		.p-thin {
			color: #fff;
			font-size: 24px;
			font-weight: 300;
			line-height: 35px;
		}
	}
	header .btn-red {
		position: absolute;
		z-index: 1;
		top: 508px;
		left: 20px;
	}
	.rs__text {
		font-size: 18px;
		padding: 0 78px;
		border: 0;
		p{
			padding-right: 0px;
		}
	}
	.rs__name {
		font-size: 24px;
		font-weight: 500;
		padding-bottom: 12px;
	}
	.reviews-slider__border{
		text-align: center;
	}
	.rs__info{
		padding: 0;
	}
	.rs__car{
		text-align: center;
	}
	.maps__content__item{
		text-align: center;
	}
}

@media only screen and (max-width : 991px) {
	.header-top{
		height: auto;
		padding-bottom: 35px;
	}
	.gamburger{
		display: block;
		span{
			transition: .4s all;
		}
		&.active{

			span:first-child{
				transform: rotate(45deg) translateX(6px) translateY(6px);
			}
			span:nth-child(2){
				transform: rotate(-45deg) translateX(-1px) translateY(0px);
			}
			span:last-child{
				opacity: 0;
			}
		}
	}
	.top-menu{
		height: 0;
		overflow: hidden;
		padding: 0;
		transition: .6s all;
		ul{
			transition: 1s all;
			transform: scale(0);
		}
		li{
			display: block;
			a{
				width: 100%;
				text-align: center;
				padding: 15px 0;
				display: block;
			}

		}
		&.active{
			height: 295px;
			padding: 10px 0;
			ul{
				transform: scale(1);
			}
		}
	}
}
@media only screen and (max-width: 880px){
		header{
		.p-thin {
			color: #fff;
			font-size: 20px;
			font-weight: 300;
			line-height: 35px;
		}
	}
}
@media only screen and (max-width : 805px){
	.footer-social {
		padding: 35px 23px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.auto-parts__item{
		min-width: 320px;
		h4{
			font-size: 20px;
		}
	}
	.auto-parts__item-c{
		width: 100%;
		text-align: center;
	}
	.images__content__item {
		margin: 0px auto;
		padding: 0px 0px;
		width: 50%;
	}
	.rs__text {
		font-size: 18px;
		border: 0;
		padding: 0 40px;
	}
	.pull-slider{
		position: relative;
		width: 100%;
		img{
			height: auto;
			width: 100%;
		}
	}
	.header-bot {
		height: auto;
		position: relative;
	}
	.header-slider.gallery li {
		min-height: 650px;
		background-position: center;
	}
	.lSSlideOuter.header-slider .lSPager.lSpg {
		bottom: 20px;
	}
	.header-bot {
		background-color: rgb(35, 59, 91);
	}
}
@media only screen and (max-width : 670px){
	.footer-social i {
		margin-right: 25px;
		margin-bottom: 13px;
	}
}
@media only screen and (max-width : 625px) {
}
@media only screen and (max-width: 555px) {
	.rs__info{
		margin: 0 0px;
	}
	.rs__text {
		p{
			max-width: 423px;
			font-size: 18px;
			margin: 0 40px;
			border: 0;
		}
	}
}
@media only screen and (max-width: 525px) {
	.footer-social i {
		margin-right: 5px;
		margin-bottom: 0px;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.pad{
		padding: 20px 5px !important;
	}
	.images__content__item {
		padding: 0px 0px;
		width: 70%;
	}
	.maps__content{
		padding-left: 0px;
	}
	.footer-social i {
		margin-right: 15px;
		margin-bottom: 10px;
		margin-right: 25px;
		margin-bottom: 0px;
	}
	header .p-thin {
		color: #fff;
		font-size: 16px;
		font-weight: 300;
		line-height: 35px;
	}
	.maps__content__item__maps iframe{
		width: 100%;
	}
	// 100% ширина окна
	// .fancybox-wrap{
	// 	width: 100% !important;
	// 	left: 0 !important;
	// }
}




