@import "bourbon";
@import "vars.scss";
@import "../libs/lightslider/dist/css/lightslider.min.css";


body{
	font-family: "RobotoRegular";
}
.inner{
	max-width: 1024px;
	margin: 0 auto;
}
.header-top{
	background-color: rgba(0, 0, 0, 0.48);
	height: 113px;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 2;
}
