@import "bourbon";
@import "vars.scss";
@import "icons";

*::-webkit-input-placeholder{
    color: #666;
    opacity: 1;
}

*:-moz-placeholder{
    color: #666;
    opacity: 1;
}

*::-moz-placeholder{
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder{
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid{
    color: #666;
}

body input:required:valid,
body textarea:required:valid{
    color: #666;
}

//Custom Styles Here
.about-company__content{
    p{
        padding-bottom: 40px;
    }
    h4{
        color: #161616;
    }
}
.about-company__slider{
    .lSAction>a{
        background: none;
    }
    .gallery > li{
        padding: 0 63px;
    }
}
.about-company{
    padding-bottom: 75px;
}
.auto-repair{
    background-color: #38569b;
    text-align: center;
    h2{
        text-align: center;
        padding-top: 52px;
    }
    p{
        color: #FFFFFF;
    }
}
.auto-repair__item{
    padding: 65px 0px;
    i{
        min-height: 94px;
    }
}
.auto-parts{
    h1{
        text-align: center;
    }
}
.auto-parts__item{
    float: left;
    width: 50%;
    height: 416px;
    text-align: center;
    padding-top: 16%;
    h4{
        margin: 0;
    }
    p{
        color: #ffffff;
        margin: 0;
    }
}
.auto-parts__item_bg1{
    background: url("../img/raster/repairer.png");
}
.auto-parts__item_bg2{
    background: url("../img/raster/thumb.png");
}
.auto-parts__item_bg3{
    background: url("../img/raster/oil.png");
}
.auto-parts__item_bg4{
    background: url("../img/raster/manbox.png");
}
.auto-parts__item-c{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    i{
        margin-right: 11px;
    }
}
.order{
    text-align: center;
}





//ALWAYS END
@import "media";
@import "sketches";