@import url(../libs/lightslider/dist/css/lightslider.min.css);
.icon {
  display: inline-block; }

.icon-arrow-left {
  background: url(../img/icons/icon_arrow-left.png);
  width: 22px;
  height: 31px; }

.icon-arrow-right {
  background: url(../img/icons/icon_arrow-right.png);
  width: 22px;
  height: 31px; }

.icon-arrow-left-blue {
  background: url(../img/icons/icon-arrow-left-blue.png);
  width: 20px;
  height: 29px; }

.icon-arrow-right-blue {
  background: url(../img/icons/icon-arrow-right-blue.png);
  width: 20px;
  height: 29px; }

.icon-car {
  background: url("../img/icons/icon_car.png");
  width: 105px;
  height: 75px; }

.icon-key {
  background: url("../img/icons/icon_key.png");
  width: 107px;
  height: 92px; }

.icon-carwash {
  background: url("../img/icons/icon_carwash.png");
  width: 135px;
  height: 92px; }

.icon-repair {
  background: url("../img/icons/icon_repair.png");
  width: 122px;
  height: 89px; }

.icon-cars {
  background: url("../img/icons/icon_cars.png");
  width: 187px;
  height: 84px; }

.icon-document {
  background: url("../img/icons/icon_document.png");
  width: 78px;
  height: 94px; }

.icon-settings {
  background: url("../img/icons/icon_settings.png");
  width: 50px;
  height: 46px; }

.icon-wheel {
  background: url("../img/icons/icon_wheel.png");
  width: 49px;
  height: 45px; }

.icon-cask {
  background: url("../img/icons/icon_cask.png");
  width: 33px;
  height: 51px; }

.icon-box {
  background: url("../img/icons/icon_box.png");
  width: 49px;
  height: 55px; }

body {
  font-family: Roboto; }

header {
  position: relative; }

.inner {
  max-width: 1024px;
  margin: 0 auto; }

.header-top {
  background-color: rgba(0, 0, 0, 0.48);
  height: 113px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2; }

.logo {
  padding-top: 40px;
  display: block; }
  .logo a {
    color: white;
    font-size: 30px;
    font-weight: 900;
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none; }

.top-menu {
  padding: 47px; }
  .top-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .top-menu li {
    display: inline-block;
    padding: 0 12px; }
    .top-menu li a {
      color: #fff;
      font-size: 18px;
      font-weight: 500; }
      .top-menu li a:hover {
        color: #7d9ddc;
        text-decoration: none;
        -webkit-transition: 0.3s;
        transition: 0.3s; }

.lSSlideOuter.header-slider {
  position: relative; }
  .lSSlideOuter.header-slider .lSPager.lSpg {
    position: absolute;
    width: 100%;
    bottom: 210px; }
    .lSSlideOuter.header-slider .lSPager.lSpg > li {
      margin: 0 5px; }
      .lSSlideOuter.header-slider .lSPager.lSpg > li a {
        background-color: #fff;
        height: 10px;
        width: 10px;
        -webkit-box-shadow: 0 0 0px 2.5px #fff;
        box-shadow: 0 0 0px 2.5px #fff; }
      .lSSlideOuter.header-slider .lSPager.lSpg > li.active a {
        background-color: #94a3fc; }
  .lSSlideOuter.header-slider .lSAction > a {
    background: none; }

.header-slider.gallery li {
  min-height: 810px;
  background-position: center; }

.header-bot {
  background-color: rgba(0, 0, 0, 0.48);
  height: 189px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0px;
  z-index: 2; }

.header-bot__item {
  border-right: 1px solid #fff;
  margin-top: 16px;
  padding: 9px 26px;
  min-height: 156px;
  display: inline-block; }
  .header-bot__item:last-child {
    border: 0; }

.header-slider {
  padding: 0;
  margin: 0; }
  .header-slider li {
    background-position: center top; }

.gamburger {
  display: none;
  width: 25px;
  position: absolute;
  right: 15px;
  top: 47px; }
  .gamburger span {
    display: block;
    width: 100%;
    height: 4px;
    margin-bottom: 4px;
    background: #FFFFFF; }

header .btn-red {
  position: absolute;
  z-index: 1;
  top: 508px;
  left: 189px; }
