.icon {
  display: inline-block; }

.icon-arrow-left {
  background: url(../img/icons/icon_arrow-left.png);
  width: 22px;
  height: 31px; }

.icon-arrow-right {
  background: url(../img/icons/icon_arrow-right.png);
  width: 22px;
  height: 31px; }

.icon-arrow-left-blue {
  background: url(../img/icons/icon_arrow-left-blue.png);
  width: 20px;
  height: 29px; }

.icon-arrow-right-blue {
  background: url(../img/icons/icon_arrow-right-blue.png);
  width: 20px;
  height: 29px; }

.icon-car {
  background: url("../img/icons/icon_car.png");
  width: 105px;
  height: 75px; }

.icon-key {
  background: url("../img/icons/icon_key.png");
  width: 107px;
  height: 92px; }

.icon-carwash {
  background: url("../img/icons/icon_carwash.png");
  width: 135px;
  height: 92px; }

.icon-repair {
  background: url("../img/icons/icon_repair.png");
  width: 122px;
  height: 89px; }

.icon-cars {
  background: url("../img/icons/icon_cars.png");
  width: 187px;
  height: 84px; }

.icon-document {
  background: url("../img/icons/icon_document.png");
  width: 78px;
  height: 94px; }

.icon-settings {
  background: url("../img/icons/icon_settings.png");
  width: 50px;
  height: 46px; }

.icon-wheel {
  background: url("../img/icons/icon_wheel.png");
  width: 49px;
  height: 45px; }

.icon-cask {
  background: url("../img/icons/icon_cask.png");
  width: 33px;
  height: 51px; }

.icon-box {
  background: url("../img/icons/icon_box.png");
  width: 49px;
  height: 55px; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

.about-company__content h4 {
  color: #161616; }

.about-company__slider {
  margin: 0px 0px 0 19px;
  max-width: 898px; }
  .about-company__slider .lSAction > a {
    background: none; }

.auto-repair {
  background-color: #38569b;
  text-align: center; }
  .auto-repair h2 {
    text-align: center;
    padding-top: 52px; }
  .auto-repair p {
    color: #FFFFFF; }

.auto-repair__item {
  padding: 65px 0px; }
  .auto-repair__item i {
    min-height: 94px; }

.auto-parts h1 {
  text-align: center; }

.auto-parts__item {
  float: left;
  width: 50%;
  height: 416px;
  text-align: center;
  padding-top: 16%; }
  .auto-parts__item h4 {
    margin: 0; }
  .auto-parts__item p {
    color: #ffffff;
    margin: 0; }

.auto-parts__item_bg1 {
  background: url("../img/raster/repairer.png"); }

.auto-parts__item_bg2 {
  background: url("../img/raster/thumb.png"); }

.auto-parts__item_bg3 {
  background: url("../img/raster/oil.png"); }

.auto-parts__item_bg4 {
  background: url("../img/raster/manbox.png"); }

.auto-parts__item-c {
  display: inline-block;
  vertical-align: top;
  text-align: left; }
  .auto-parts__item-c i {
    margin-right: 11px; }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1020px) {
  .top-menu li {
    padding: 0 10px; } }

@media only screen and (max-width: 1017px) {
  .header-bot__item {
    padding: 8px 2.3vw; }
    .header-bot__item.p-thin {
      font-size: 3vw; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .wrapper {
    width: auto; }
  .pad {
    padding: 50px 5px !important; }
  footer {
    text-align: center; }
    footer .wrapper {
      width: auto; }
    footer ul {
      float: none;
      display: inline-block;
      text-align: center; }
      footer ul li {
        margin-bottom: 10px;
        margin-right: 0;
        float: none; }
    footer .gs {
      float: none;
      display: block; }
  .auto-parts__item {
    display: inline-block;
    float: none;
    min-width: 500px; }
  .auto-parts {
    text-align: center; } }

.auto-repair__item {
  padding: 40px 0px; }

@media only screen and (max-width: 991px) {
  .header-top {
    height: auto;
    padding-bottom: 35px; }
  .gamburger {
    display: block; }
    .gamburger span {
      -webkit-transition: .4s all;
      transition: .4s all; }
    .gamburger.active span:first-child {
      -webkit-transform: rotate(45deg) translateX(6px) translateY(6px);
      -ms-transform: rotate(45deg) translateX(6px) translateY(6px);
      transform: rotate(45deg) translateX(6px) translateY(6px); }
    .gamburger.active span:nth-child(2) {
      -webkit-transform: rotate(-45deg) translateX(-1px) translateY(0px);
      -ms-transform: rotate(-45deg) translateX(-1px) translateY(0px);
      transform: rotate(-45deg) translateX(-1px) translateY(0px); }
    .gamburger.active span:last-child {
      opacity: 0; }
  .top-menu {
    height: 0;
    overflow: hidden;
    padding: 0;
    -webkit-transition: .6s all;
    transition: .6s all; }
    .top-menu ul {
      -webkit-transition: 1s all;
      transition: 1s all;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0); }
    .top-menu li {
      display: block; }
      .top-menu li a {
        width: 100%;
        text-align: center;
        padding: 15px 0;
        display: block; }
    .top-menu.active {
      height: 295px;
      padding: 10px 0; }
      .top-menu.active ul {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .auto-parts__item {
    min-width: 320px; }
    .auto-parts__item h4 {
      font-size: 20px; }
  .auto-parts__item-c {
    width: 100%;
    text-align: center; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .pad {
    padding: 20px 5px !important; } }

h1 {
  color: #0f335b;
  font-size: 36px;
  font-weight: 900;
  line-height: 36px;
  margin: 47px 0; }

h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase; }

.h2-big {
  color: #38569b;
  font-weight: 900; }

h3 {
  color: #151515;
  font-size: 24px;
  font-weight: 900; }

h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px; }

.h4-blue {
  color: #38569b;
  font-size: 18px; }

p {
  color: #161616;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px; }

.p-bold {
  font-size: 18px;
  font-weight: 500; }

.p-thin {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  line-height: 35px; }

.p-small {
  font-size: 14px;
  line-height: 18px; }

.p-big {
  font-size: 18px; }

.p-icon {
  font-weight: 400; }

.btn-red {
  text-shadow: 1px 1.7px 0 rgba(105, 0, 25, 0.75);
  color: white;
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  background-color: #ce334c;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  height: 47px;
  border: 0;
  -webkit-transition: .1s all;
  transition: .1s all; }
  .btn-red:after {
    content: '';
    opacity: 0.2;
    background-color: white;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: .1s all;
    transition: .1s all;
    height: 50%; }
  .btn-red:hover {
    background-color: #bb2d44; }
    .btn-red:hover:after {
      opacity: 0.25; }

.btn-red_1 {
  padding: 0px 19px; }

.btn-red_2 {
  padding: 0px 48px; }

.btn-blue {
  color: white;
  background-color: #8f9ef3;
  height: 47px;
  font-size: 24px;
  font-weight: 500;
  display: block;
  width: 113px;
  -webkit-border-radius: 101px;
  border-radius: 101px; }
  .btn-blue:hover {
    background-color: #6176ee; }

.btn-blue2 {
  background-color: #7d9ddc;
  -webkit-border-radius: 9px 10px 10px 9px;
  border-radius: 9px 10px 10px 9px;
  text-shadow: 0.5px 0.9px 1px rgba(0, 1, 1, 0.75);
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 33px;
  -webkit-box-shadow: 0 3px 0px #587bc7;
  box-shadow: 0 3px 0px #587bc7; }
  .btn-blue2:hover {
    background-color: #557fd1; }
